#principal-index h1 p {
    color: #343A40;
}

#principal-index p {
    font-weight: 400;
}

hr {
    border: 1px solid #7a7a7a;
    border-radius: 1px;
    margin-left: 50px;
    margin-right: 40px;
}

.custom-btn {
    border-radius: 20px;
    background-color: #141414;
    font-weight: 500;
}

.content {
    flex: 1 0 auto;
}

.help-section {
    padding: 50px 0;
    opacity: 0;
}

.contact-section {
    background-color: #f8f9fa;
    padding: 50px 0;
    opacity: 0;
}

.contact-methods {
    display: flex;
    justify-content: space-around;
}

.content-register {
    background-image: url('../img/zapas.png') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.register-container {
    max-width: 400px;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem;
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    position: relative;
    z-index: 1;
}